.footer{
    display:flex;
    flex-wrap: wrap;
    padding: 20px 0;
    background: #151311;
}
.footer-text{
    flex-basis: 84%;
    color:gray;
}
.footer-text-links{
    display: flex;
    color:gray;
}
.footer-text-links ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.footer-text-links ul li{
    margin: 0 6px;
}
.footer-text-links ul li i:before{
    color:gray;
}
@media only screen and (max-width:700px){
    .footer-text {
        flex-basis: 100%;
        text-align: center;
    }
    .footer-text-links{
        flex-basis: 100%;
        justify-content:center;
    }
}